{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "no-loops", "prettier"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "rules": {
        "no-loops/no-loops": 2, // 2 means throw an ERROR
        "no-console": 0,
        "prettier/prettier": 2,
        "@typescript-eslint/no-unused-vars": 1,
        "@typescript-eslint/no-explicit-any": 0
    },
    "ignorePatterns": ["node_modules", "dist", "Dockerfile", "docker-compose.yml", "postgres"]
}
